* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#container {
    /* for visualization purposes */
    border: 1px solid;

    width: 800px;
    height: 800px;
    display: flex;
    margin: 0 auto;

    /* for visualization purposes */
    /* padding: 20px;  */

    display: flex;
    flex-wrap: wrap;
}
/* 
#container > div:hover {
    background-color: black;
} */